.footerC{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.178);
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;   
}
.thanks{
    font-size: 1.8rem;
}
.email{
    font-size: 1.4rem;
}

